{% extends "layout/basic.html" %} <!-- Расширяем базовый шаблон -->

{% block title %} {{ current_rubric.name }} {% endblock %} <!-- Задаём заголовок страницы, используя текущую рубрику -->

{% block content %} <!-- Начинаем блок содержимого -->
    <h2>Рубрика: {{ current_rubric.name }}</h2> <!-- Название текущей рубрики -->

    {% for bb in bbs %} <!-- Цикл по списку объявлений в текущей рубрике -->
        <div>
            <h2>{{ bb.title }}</h2> <!-- Заголовок объявления -->

            <p>{{ bb.content }}</p> <!-- Содержимое объявления -->

            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p> <!-- Дата публикации объявления -->
        </div>
    {% endfor %}
{% endblock %} <!-- Завершаем блок содержимого -->
