{% extends "layout/basic.html" %} <!-- Расширяем базовый шаблон -->

{% block title %}Добавление объявления{% endblock %} <!-- Задаём заголовок страницы -->

{% block content %} <!-- Начинаем блок содержимого -->
    <h2>Добавление объявления</h2>
    <form method="post">
        {% csrf_token %} <!-- Токен для защиты от межсайтовой подделки запроса -->
        {{ form.as_p }} <!-- Отображение всех полей формы параграфами -->
        <input type="submit" value="Добавить">
    </form>
{% endblock %} <!-- Завершаем блок содержимого -->
