{% extends "layout/basic.html" %} <!-- Расширяем базовый шаблон -->

{% block content %} <!-- Начинаем блок содержимого, который будет вставлен в соответствующий блок базового шаблона -->
    {% for bb in bbs %} <!-- Цикл по списку объявлений -->
        <div>
            <h2>{{ bb.title }}</h2> <!-- Заголовок объявления -->

            <p>{{ bb.content }}</p> <!-- Содержимое объявления -->

            <p>
                <a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a> <!-- Ссылка на рубрику объявления -->
            </p>

            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p> <!-- Дата публикации объявления -->
        </div>
    {% endfor %}
{% endblock %} <!-- Завершаем блок содержимого -->
