{% load static %}
<!DOCTYPE html>
<html lang="ru"> <!-- Установка языка страницы -->
<head>
    <link rel="stylesheet" type="text/css"
          href="{% static 'board/style.css' %}">
    <meta charset="UTF-8"> <!-- Установка кодировки страницы -->
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title> <!-- Устанавливаем заголовок страницы. Если не переопределено в дочернем шаблоне, то будет "Главная" -->
</head>
<body>
    <header> <!-- Заголовок страницы -->
        <h1>Объявления</h1>
    </header>

    <nav> <!-- Навигационное меню -->
        <a href="{% url 'index' %}">Главная</a> <!-- Ссылка на главную страницу -->
        <a href="{% url 'add' %}">Добавить</a> <!-- Ссылка на страницу добавления объявления -->

        {% for rubric in rubrics %} <!-- Цикл по списку рубрик -->
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a> <!-- Ссылка на страницу рубрики с передачей первичного ключа -->
        {% endfor %}
    </nav>

    <section> <!-- Основное содержимое страницы -->
        {% block content %}{% endblock %} <!-- Блок, который может быть переопределен в дочернем шаблоне -->
    </section>
</body>
</html>
